<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
<div class="row justify-content-center">
    <div class="col-lg-9">
        <h2 class="col-" th:text="#{contact.update}">Update Contact</h2>
        <form th:action="@{/contacts} + '/' + ${id}" th:object="${contact}" method="POST">
            <input type="hidden" name="_method" value="PUT"/>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label col-form-label-sm" for="id" th:text="#{contact.id}"></label>
                <div class="col-md-6">
                    <input class="form-control form-control-sm" type="text" th:field="*{id}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="firstname" th:text="#{contact.firstname}">Firstname:</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{firstname}" autofocus="true"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="lastname" th:text="#{contact.lastname}">Lastname:</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{lastname}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="nickname" th:text="#{contact.nickname}">Nickname:</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{nickname}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="email" th:text="#{contact.email}">Email:</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{email}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="number" th:text="#{contact.number}">Number</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{number}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="street" th:text="#{contact.street}">Street</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{street}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="plz" th:text="#{contact.plz}">PLZ</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{plz}" th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-md-2 col-form-label" for="town" th:text="#{contact.town}">Town</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{town}" th:errorclass="fieldError"/>
                </div>
            </div>

            <div class="row justify-content-between">
                <a class="btn btn-default  d-flex align-items-center" th:href="@{/contacts}">
                    <span th:text="#{control.cancel}">Cancel </span>
                    <i class="material-icons">clear</i>
                </a>
                <button type="submit" class="btn btn-primary  d-flex align-items-center">
                    <span th:text="#{control.save}">Save </span>
                    <i class="material-icons md-12">save</i>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>